# Angular
node_modules/
dist/
tmp/
environment.ts
coverage/
.angular/
.vscode/

# .NET
bin/
obj/
publish/
*.user
*.suo
*.dbmdl
*.log
*.pdb

# OS Specific
.DS_Store
Thumbs.db

# Visual Studio Code
.vscode/
